.flex{
    display: flex;
}

header nav{ 
    background-color:#295fe7;
    padding: 2%;
}
header article{

background-image: url(../img/jumbo.png);
background-size:cover;
background-repeat: no-repeat;
background-position: center;
padding-block:10% ;
padding-inline: 25%;
}

.jus-con-ar{

    justify-content: space-around;
}

.jus-con-ce{
justify-content: center;
}
header nav picture{
   
    flex-basis: 10%;
   
}
header nav aside span{
   
    margin-right: 20px;
    color: white;
    
}


.set-btn{
    border-radius: 20px ;
    border:0;
    padding: 10px;

    
}

.btn-col{
    background-color:#23272a;
    color:white;
}
.al-it-cen{
align-items:center ;
}

header article {

text-align: center;
color: white;
}

main{
    padding-inline: 10%;
}
.textcontainer1 h1{
   font-size: 70px;
    padding-block:30px ;
}

.textcontainer2 h1{
    font-size: 50px;
     padding-block:30px ;
}

.textcontainer4 h1{
    font-size: 50px;
     padding-block:30px ;
     
}
.txtal{

text-align: center;

}
footer{
    height: 400px;
    background-color: gray;
    padding: 0 10% 0 10%;
}
footer div{

    background-color: aqua;
    margin-left: 10px;
    height: 100%;
}

.foodiv{
    height: 50px;
    flex-basis: 10%;
    background-color:chocolate;
    margin-left: 10px;

}

.container{

    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
    background-position: center;
    margin-block: 5%;
}

#marginp{

padding-block:10px;
padding-inline:0px ; 

}


.btn-col1{
    background-color:#7289da;
    color:white;
    border: 0px;
    border-radius: 20px;
    padding: 10px;

}